.logins
{
	background: #ff4013;
	
}

.bg-danger
{
	background: #ff4013 !important;
}

.menubg
{
	background: black;
}


.carousel-inner .bgp
{
	background: url(../img/carrusel/582_Fondo_pagosRecurso_.jpg);


}


.form-inline .form-control

{
	width: 70%;
}

.dropdown-menu2{
	min-width: 20rem;

}



